<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager - Vault</title> <!-- title of the page -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script> <!-- include CryptoJS library -->
</head>
<body>
  <div class="header"> <!-- header section -->
    <div class="sidebar"> <!-- sidebar section -->
      <a href="{{ url_for('vault') }}" class="vault">
        <img src="{{ url_for('static', filename='dashboard.png') }}" alt="Dashboard Icon"> Dashboard </a>
      <a href="#">
        <img src="{{ url_for('static', filename='favorite.png') }}" alt="Favorite Icon"> Favorite </a>
      <a href="{{ url_for('password') }}">
        <img src="{{ url_for('static', filename='password.png') }}" alt="Password Icon"> Password </a>
      <a href="{{ url_for('note') }}">
        <img src="{{ url_for('static', filename='notes.png') }}" alt="Note Icon"> Note </a>
      <a href="#">
        <img src="{{ url_for('static', filename='card.png') }}" alt="Card Icon"> Card </a>
      <a href="#">
        <img src="{{ url_for('static', filename='person.png') }}" alt="Person Icon"> Identity </a>
      <a href="#">
        <img src="{{ url_for('static', filename='security.png') }}" alt="Person Icon"> Security </a>
      <a href="#">
        <img src="{{ url_for('static', filename='setting.png') }}" alt="Person Icon"> Setting </a>
      <a href="{{ url_for('logout') }}">
        <img src="{{ url_for('static', filename='logout.png') }}" alt="Person Icon"> Logout </a>
    </div>
    <div class="brand">
      <img src="{{ url_for('static', filename='padlock.png') }}" alt="SecureVault Logo">
      <h2>SecureVault Manager</h2>
    </div>
    <div class="user-info" id="user-info">
      <img src="{{ url_for('static', filename='profile.png') }}" alt="Profile Icon">
      <div>
        <p>{{ current_user.email }}</p>
        <div class="dropdown" id="dropdown">
          <a href="#" class="dropdown-item">Profile</a>
          <a href="#" class="dropdown-item">Settings</a>
          <a href="{{ url_for('logout') }}" class="dropdown-item">Logout</a>
        </div>
      </div>
    </div>
    <div class="search-container"> <!-- search bar -->
      <input type="text" placeholder="Search..."> <!-- search input -->
    </div>
  </div>
  <div class="content"> <!-- main content section -->
    <a href="{{ url_for('add_credentials_page') }}" class="add-credentials-link">Add New Credentials</a> <!-- link to add new credentials -->
    <div class="credentials-container"> {% for credential in user_credentials %} <div class="credential-box" onclick="openPopup('{{ credential.website }}', '{{ credential.url }}','{{ credential.username }}', '{{ credential.password }}', '{{ credential.notes }}', '{{ credential.id }}')">
        <div class="website">{{ credential.website }}</div> <!-- display website -->
        <div class="email">{{ credential.username }}</div>
      </div> {% endfor %} </div>
    <div id="credentialPopup" class="popup">
      <span class="close" onclick="closePopup()">&times;</span>
      <p>Website: <input type="text" id="popupWebsite" contenteditable="true">
      </p>
      <p>URL: <input type="text" id="popupURL" contenteditable="true">
      </p>
      <p>Username: <input type="text" id="popupUsername" contenteditable="true">
      </p>
      <p>Password: <span class="password-container">
          <input type="password" id="popupPassword" contenteditable="true">
          <button class="show-password" onclick="togglePasswordVisibility()">Show</button>
        </span>
      </p>
      <p>Notes: <textarea id="popupNotes" rows="4" cols="30" contenteditable="true"></textarea>
      </p>
      <button id="credentialUpdateBtn" onclick="updateCredential()">Update</button>
      <button class="delete-button" onclick="deleteCredential(currentCredentialId)">Delete</button>
    </div>
  </div>
</body>
</html>

<script> //javascript code
    var currentCredentialId; // store current id
function openPopup(website, url, username, encryptedPassword, notes, id)
{ //open popup window
    currentCredentialId = id;
    document.getElementById('popupWebsite').value = website;
    document.getElementById('popupURL').value = url;
    document.getElementById('popupUsername').value = username;

    decryptPassword(encryptedPassword) //decrypt passowrd and show the decrypt pass
    .then(decryptedPassword => {
        if (decryptedPassword !== null) {
            document.getElementById('popupPassword').value = decryptedPassword; //show decrypted password
        } else {
            console.error('Failed to decrypt password'); //log error
        }
    });

    document.getElementById('popupNotes').value = notes; //show notes
    document.getElementById('credentialPopup').style.display = 'block'; //show popup
}

    function closePopup() { //close popup
        document.getElementById('credentialPopup').style.display = 'none';
    }

    function togglePasswordVisibility() //hide password by default
    {
        var passwordInput = document.getElementById('popupPassword'); //get password input
        var showPasswordButton = document.querySelector('.show-password'); //get show password button

        if (passwordInput.type === 'password') { //if password is hidden
            passwordInput.type = 'text'; //show password
            showPasswordButton.textContent = 'Hide';
        } else {
            passwordInput.type = 'password';
            showPasswordButton.textContent = 'Show';
        }
    }



    function updateCredential() //update credential
    {
      //collect data
        var website = document.getElementById('popupWebsite').value;
        var url = document.getElementById('popupURL').value;
        var username = document.getElementById('popupUsername').value;
        var password = document.getElementById('popupPassword').value;
        var notes = document.getElementById('popupNotes').value;

        // pepare data
        var data = {
            website: website,
            url: url,
            username: username,
            password: password,
            notes: notes
        };

        fetch('/update_credential/' + currentCredentialId,
            {method: 'POST', headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)}) //send request to update
        .then(response => {
            if (response.ok) { //if successful
                console.log('Credential updated successfully');
                closePopup(); //close popup
                location.reload(); //refresh to reflect changes
            } else {
                console.error('Error updating credential');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function deleteCredential(credentialId) { //delete credential
        if (confirm("Are you sure you want to delete this credential?")) {
            fetch('/delete_credential/' + credentialId, //send request to delete
                    {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    console.log('Credential deleted successfully'); //if successful
                    location.reload(); //refresh to reflect changes
                } else {
                    console.error('Error deleting credential');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    }
function decryptPassword(encryptedPassword) { //decrypt password
    return fetch('/decrypt_password', { //send request to decrypt
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ 'encrypted_password': encryptedPassword }) //send encrypted password
    })
    .then(response => {
        if (response.ok) { //if successful
            return response.json();
        } else {
            throw new Error('Failed to decrypt password');
        }
    })
    .then(data => {
        if ('decrypted_password' in data) {
            console.log('Decrypted password:', data.decrypted_password); //log
            return data.decrypted_password; //return decrypted password
        } else {
            throw new Error('Decrypted password not found in response');
        }
    })
    .catch(error => {
        console.error('Error:', error); // log
        return null;
    });
}




</script>

